<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th scope="col">No.</th>
			<th scope="col">Name</th>
			<th scope="col">Image</th>
			<th scope="col">Unit Price</th>
			<th scope="col">Quantity</th>
			<th scope="col">Price</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Baggy Jeans</td>
			<td><img src="./../../assets/images/product.jpg" alt="product"/></td>
			<td>500000đ</td>
			<td><input type="number" name="quantity" value="1"><small>hasCheckout</small></td>
			<td>500000đ</td>
		</tr>
	</tbody>
	<tfoot>
		<td colspan="5"><b>SUMMARY</b></td>
		<td><b>1000000đ</b></td>
	</tfoot>
</table>