<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th scope="col">No.</th>
			<th scope="col">Name</th>
			<th scope="col">Image</th>
			<th scope="col">Unit Price</th>
			<th scope="col">Quantity</th>
			<th scope="col">Price</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let selectedProduct of selectedProducts; let i = index">
			<td>{{ i + 1 }}</td>
			<td>{{ selectedProduct.name }}</td>
			<td><img src="{{ selectedProduct.imgUrl }}" alt="product"/></td>
			<td>{{ selectedProduct.price }}</td>
			<td><input type="number" name="quantity" value="1"><small>hasCheckout</small></td>
			<td>{{ selectedProduct.price *5 }}</td>
		</tr>
	</tbody>
	<tfoot>
		<td colspan="5"><b>SUMMARY</b></td>
		<td><b>1000000đ</b></td>
	</tfoot>
</table>
{{selectedProducts | json}}