img { max-width: 100px; }
img[alt="plus"] { width: 20px;}
.add-more-address-btn {
    border: 1px solid #e6e6e6;
    padding: 0px 5px 4px;
    border-radius: 20px;
}
.information-customer-form { width: 40% }
.form-group-address { position: relative; }
.form-group-address a { position: absolute; top: 0; right: 0}
textarea { resize: none;}