<div class="col-md-5 offset-md-7">
	<div class="card">
		<div class="card-header">
			<h5>YOUR INFORMATION</h5>
		</div>
		<div class="card-body">
			<form>
				<div class="form-group">
					<label>Name</label>
					<input type="name" class="form-control"
					>
				</div>
				<div class="form-group">
					<label>Address</label>
					<a href="#" class="add-more-address-btn float-right mb-3" title="Add more Address">
						<img src="./../../assets/images/plus.png" alt="plus">
					</a>
					<textarea class="form-control">Lorem ipsum dolor sit amet, cons veniam,quis nostrud exercitation ullamco labori.</textarea>
				</div>
				<button type="button" class="btn btn-success btn-block"
				>
					OK
				</button>
			</form>
		</div>
	</div>
</div>