<div class="row">
    <div class="col-md-8">
    	<div class="row row-eq-height">
    		<div class="col-md-4 mb-4"
				*ngFor="let _product of _products"
    		>
    			<div class="card text-center">
					<div class="card-body">
						<img src="{{ _product.imgUrl }}" alt="_product"/><hr>
						<h5 class="card-title">{{ _product.name }}</h5>
						<p class="my-3">{{ _product.price | currency : 'VND' }}</p>
						<a href="#" class="btn btn-success"
							(click)="onAddToCart(_product); $event.preventDefault();"
						>
							Buy now
						</a>
					</div>
				</div>
    		</div>
    	</div>
    </div>
    <div class="col-md-4">
        <form>
			<h3>Search</h3>
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" name="name" 
					[(ngModel)]="name"
					[ngModelOptions]="{standalone: true}"
				>
			</div>
			<div class="form-group">
				<label>Category</label>
				<select name="category" class="form-control"
					[(ngModel)]="category"
					[ngModelOptions]="{standalone: true}"
				>
					<option value="">All</option>
					<option value="t-shirt">T-shirt</option>
					<option value="baggy">Baggy</option>
					<option value="blouse">Blouse</option>
					<option value="jeans">Jeans</option>
				</select>
			</div>
			<div class="form-group">
				<label>Price</label>
				<input type="number" class="form-control" name="price" 
					[(ngModel)]="price"
					[ngModelOptions]="{standalone: true}"
				>
			</div>
			<button type="button" class="btn btn-primary btn-block"
				(click)="onSearch()"
			>
				Search
			</button>
		</form>
    </div>
</div>