<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th scope="col">No.</th>
			<th scope="col">Name</th>
			<th scope="col">Address</th>
			<th scope="col">Products</th>
			<th scope="col">Summary</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Hao Le</td>
			<td>295 Bach Mai, Hai Ba Trung, Ha Noi.</td>
			<td>
				<ul>
					<li><span>Baggy Jeans(1): 500000đ</span></li>
					<li><span>Baggy Jeans(2): 500000đ</span></li>
				</ul>
			</td>
			<td>500000đ</td>
		</tr>
	</tbody>
	<tfoot>
		<td colspan="4"><b>SUMMARY</b></td>
		<td><b>1000000đ</b></td>
	</tfoot>
</table>